<!--form-callback-box-->
<div class="form-callback-box">
	<div class="info-inner-wrap">
		<div class="title-inner-wrap">
			<h2 class="h1-title section-title">Остались <span class="title-att">вопросы</span></h2>
			<p>Нужна помощь? — Ответим на все ваши вопросы.</p>
		</div>
		<div class="items-inner-wrap">
			<div class="items-wrap">
				<div class="item-wrap">
					<a href="./img/form01.jpg" class="elm-photo photo-cover" data-fancybox="form">
						<img src="./img/form01.jpg" alt="">
					</a>
				</div>
				<div class="item-wrap">
					<a href="./img/form02.jpg" class="elm-photo photo-cover" data-fancybox="form">
						<img src="./img/form02.jpg" alt="">
					</a>
				</div>
				<div class="item-wrap">
					<a href="./img/form03.jpg" class="elm-photo photo-cover" data-fancybox="form">
						<img src="./img/form03.jpg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	<form action="/" class="form-inner-wrap">
		<div class="frm-row">
			<div class="frm-field">
				<div class="frm-field-input">
					<input type="text" class="form-input" value="Николай">
					<div class="field-input-title">Имя</div>
				</div>
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<div class="frm-field-input">
					<input type="tel" class="form-input" value="+7 988 258 71 45">
					<div class="field-input-title">Телефон</div>
				</div>
			</div>
		</div>
		<div class="frm-row">
			<div class="frm-field">
				<div class="frm-field-input">
					<input type="email" class="form-input" value="Nikolay@mail.ru">
					<div class="field-input-title">Почта</div>
				</div>
			</div>
		</div>
		<div class="frm-row-submit">
			<div class="frm-field field-info">
				<div class="frm-select">
					<input type="checkbox" id="form">
					<label for="form">Отправляя данную форму, я соглашаюсь с <a href="">Политикой конфиденциальности</a></label>
				</div>
			</div>
			<div class="frm-field field-submit">
				<button type="submit" class="btn button-main">
					<div class="button-title">Отправить</div>
					<div class="button-ico">
						<img src="./img/icons/arrow-button.svg" alt="">
					</div>
				</button>
			</div>
		</div>
	</form>
</div>
<!--/form-callback-box-->