<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo-main">
				<img src="./img/main/logo-main.svg" alt="">
			</a>
		</div>
		<div class="buttons-inner-wrap">
			<a href="" class="btn button-second">
				<div class="button-ico">
					<img src="./img/icons/tg.svg" alt="">
				</div>
			</a>
			<a href="" class="btn button-second">
				<div class="button-ico">
					<img src="./img/icons/wa.svg" alt="">
				</div>
			</a>
		</div>
		<div class="actions-inner-wrap">
			<div class="action-wrap">
				<a href="tel:89893286512" class="btn button-second button-phone">
					<div class="button-title">+7 989 328 65 12</div>
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn button-arrow js-popup-open" data-popup="popup-callback">
					<div class="button-title">Обратный звонок</div>
				</a>
			</div>
		</div>
		<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">О нас</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Визы</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Визы гарант</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">ВНЖ</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Бизнес-услуги в ОАЭ</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="actions-wrap">
					<div class="action-wrap">
						<a href="tel:89893286512" class="btn button-second button-phone">
							<div class="button-title">+7 989 328 65 12</div>
						</a>
					</div>
					<div class="action-wrap">
						<a href="" class="btn button-arrow">
							<div class="button-title">Обратный звонок</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->